.movie {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid black;
    padding: 10px;
    background-size: 100%;
    cursor: pointer;
    transition: transform 0.5s;
}

.movie:hover {
    transform: scale(1.1);
}